body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1E1E1E; 
    color: black;
}

/* NAVBAR */
.navbar {
    background-color: #5BA4A4; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
}

.hero img {
    width: 100%;
    max-width: 1200px; 
    height: auto;
    display: block;
}

.footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    border-top: 1px solid #ddd;
}

.social, .pagos {
    display: flex;
    gap: 60px;
    align-items: center;
}

.social img {
    height: 70px;
    width: auto;
}

.pagos img {
    height: 70px;
    width: auto;
}

.contacto {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
}

.contacto p {
    margin: 5px 0;
}